<%= form_with model: @article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>
  <%= @article.errors[:title][0]%>

  
  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>

    <%= @article.errors.full_messages_for(:body)[0]%>


  <div>
    <%= form.submit %>
  </div>
  <%end%>