<h1>Articles Loaded</h1>
<br/><br/>

<%= link_to 'New Article', new_article_url %>

<ul>
<% for article in @articles %>
    <li>
        <%= article.title%> : <%= article.body%> 
        <a href="<%= article_url(article) %>" >More Info</a>
        <%= link_to article.title,article %>
    </li>
<% end %>
</ul>