<h1>New Article</h1>

<%= form_with model: @article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>
  <%= @article.errors[:title][0]%>

  
  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </div>

    <%= @article.errors.full_messages_for(:body)[0]%>


  <div>
    <%= form.submit %>
  </div>


  <br/><br/> 

  
  <% if @article.errors.any? %>
  Errors : 
  <br/>
  <%= @article.errors[:title]%>
    <% for errorMessage in @article.errors.full_messages%>
      <div><%= errorMessage %> </div>
    <% end%>
  <% end%>
<% end %>